.login-background{
    height: 95%;
    width: 100%;
    display: inline-flex;
    @media screen and (min-width: 760px) and (max-width: 1024px) {
        display: block;
    }
    .auth{
        &__left-column{
            width: 40%;
            height: 100%;
            @media screen and (max-width: 550px){
                width: 100%;
            }
        }
        &__right-column{
            width: 60%;
            height: 100%;
            @media screen and (max-width: 550px){
                width: 0%;
                height: inherit;
                visibility: collapse;
            }
            &__panel{
                width: auto;
                height: 22.9%;
                background: #016682eb;
                text-align: center;

                &--text{
                    color: aliceblue;
                    font-family: 'Tahoma';
                    font-size: 20px;
                    display: flex;
                    height: 16.6%;
                }

                &-info{
                    height: 54.6%;
                    &_content{
                        height: inherit;
                        padding: 10%;
                        font-size: 2.5em;
                        text-transform: uppercase;
                        color: #8ca3aa;
                        font-weight: 600;
                        text-align: -webkit-center;
                        #examples{
                            font-size: .5em;
                            color: #24728c;
                            text-align: center;
                        }
                    }
                }
                &--foot{
                    width: auto;
                    height: 5.5%;
                    border: 1px solid #016682;
                    background: #016682;
                }

            }
        }

        &__panel{
            width: 100%;
            height: inherit;
            border-radius: 4px;
            background-color: #f0f8ff;
            &--icon{
                margin: auto;
                padding-top: 3%;
                width: 40%;
                height: 130%;
                border: 1px solid #97938f40;
                border-radius: 4px;
                position: relative;
                top: 35%;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 1rem 1rem -1rem;
                z-index: 2;
                background: white;
                &__back{
                    position: relative;
                    z-index: 1;
                    padding: 10%;
                    width: auto;
                    height: 15%;
                    border: 1px solid #00000000;
                    background: #016682;
                }
                .icon-image{
                    width: -webkit-fill-available !important;
                    height: 90%!important;
                }
            }
            &--icon:hover {
                cursor: pointer;
            }

            &--text{
                padding: 10%;
                width: auto;
                height: 15%;
            }
            &--intermediate{
                width: auto;
                height: 55.3%;
                .app__title{
                    color: #016682eb;
                    position: relative;
                    left: 8px;
                    align-self: center;
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    font-weight: 700;
                    &__border{
                        display: inline-flex;
                        position: relative;
                        left: 130px;
                        margin-left: 11%;
                        padding: 10px;
                        width: 22%;
                        height: 100%;
                        border-radius: 4px;
                    }
                }
            }
            &--social{
                display: inline-flex;
                margin-left: 21%;
                padding: 10px;
                width: 50%;
                height: 8%;
                border-radius: 10px;
                border: 2px solid #8ca3aa78;
                background-color: #f5fafa35;
            }
            &--social:hover {
                cursor: pointer;
                background-color: #f5fafa35;
                box-shadow: rgba(0, 0, 0, 0.1) 1px 1rem 1rem -1rem;
                transition: background-color 0.5s, box-shadow 0.2s ease-out;
            }
            &--video{
                display: inline-flex;
                position: relative;
                top: 30%;
                left: 25px;
                margin-left: 11%;
                padding: 10px;
                width: 26%;
                height: 30px;
                border-radius: 10px;
                border: 2px solid #8ca3aa;
            }
            &--video:hover {
                cursor: pointer;
                background-color: #f0f8ff;
                transition: background-color 0.2s ease-out;
            }
            
            &--try{
                display: inline-flex;
                position: relative;
                top: 30%;
                left: 25px;
                margin-left: 11%;
                padding: 10px;
                width: 26%;
                height: 30px;
                border-radius: 10px;
                border: 2px solid #8ca3aa;
            }

            &--try:hover {
                cursor: pointer;
                background-color: #f0f8ff;
                transition: background-color 0.2s ease-out;
            }

            &--terms{
                margin-left: 16%;
                font-size: 15px;
                height: 7%;
                padding-top: 6px;
            }
            &--terms:hover {
                cursor: pointer;
                color: #016682;
                text-decoration: underline solid #016682;
            }

            &--foot{
                width: auto;
                height: 5.5%;
                border: 1px solid #016682;
                background: #016682;
            }
        }
    }

}

.google-icon{
    width: fit-content;
    @media screen and (max-width: 550px){
        width: 34px;
    }
}

.video-icon{
    width: fit-content;
    position: relative;
    left: 25px;
    @media screen and (max-width: 550px){
        width: 34px;
    }
}

.auth-text{
    color: #737f82;
    font-family: 'Tahoma';
    font-size: 1.5em;
    align-self: center;
}
.auth-text:hover{
    color: #016682;
}

.side-button__text{
    color: #016682;
    font-family: 'Tahoma';
    font-size: 22px;
    position: relative;
    left: 40px;
    align-self: center;
    &--try{
        position: relative;
        left: 84px;
        align-self: center;
        color: #016682;
    }
}

.auth__footer{
    height: 5%;
    background: #016682;
}